
<div class="card">
    <div class="card-header">
      List Of Users<i class="fas fa-trash-alt"></i>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">User Id</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
                <th scope="col">Pin Code</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody *ngFor = "let users of userData">
              <tr>
                <th>{{users.CustomerId}}</th>
                <td>{{users.FirstName}}</td>
                <td>{{users.LastName}}</td>
                <td>{{users.PhoneNo}}</td>
                <td>{{users.EmailId}}</td>
                <td>{{users.Address}}</td>
                <td>{{users.PinCode}}</td>

                <a class="ico" (click)="editUser(users._id)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;&nbsp;</a>

                <a class="ico"  (click)="delete(users._id)"><i class="fa fa-trash" aria-hidden="true"></i></a>
              </tr>
            </tbody>
          </table>
    </div>
  </div>