<mat-card>
<div class="note">
        <p >User Registration</p>
    </div>
    <mat-card class="text-center">
        <form (submit)="onAddPost(postForm)" #postForm="ngForm">
          <mat-form-field>
            <input
              matInput
              type="text"
              name="userId"
              [(ngModel)]="userModel.CustomerId"
              required
              userId
              minlength="3"
              placeholder="User Id"
              #userId="ngModel">
            <mat-error *ngIf="userId.invalid">Invalid User Id</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              type="text"
              name="Fname"
              [(ngModel)]="userModel.FirstName"
              required
              minlength="3"
              placeholder="First Name"
              #Fname="ngModel">
            <mat-error *ngIf="Fname.invalid">Please enter a First Name.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              name="Lname"
              [(ngModel)]="userModel.LastName"
              required
              Lname
              minlength="3"
              placeholder="Last Name"
              #Lname="ngModel">
            <mat-error *ngIf="Lname.invalid">Please enter a Last Name.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              rows="4"
              name="email"
              [(ngModel)]="userModel.EmailId"
              required
              email
              placeholder="Email Address"
              #email="ngModel">
            <mat-error *ngIf="!email.valid">Please enter a valid Email Address</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              pattern="^\d{10}$"
              name="Phone"
              type="tel"
              Phone
              maxlength="10"
              minlength="10"
              [(ngModel)]="userModel.PhoneNo"
              required
              placeholder="Phone No."
              #Phone="ngModel">
            <mat-error *ngIf="Phone.invalid">Please enter a Phone Number</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              rows="4"
              name="Pin"
              type="number"
              [(ngModel)]="userModel.PinCode"
              required
              placeholder="Pin Code"
              #Pin="ngModel">
            <mat-error *ngIf="Pin.invalid">Please enter a Pin Code.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input
              matInput
              name="Address"
              [(ngModel)]="userModel.Address"
              required
              Address
              placeholder="Address"
              #Address="ngModel">
            <mat-error *ngIf="Address.invalid">Please enter an Address</mat-error>
          </mat-form-field>
          <button
            mat-raised-button
            color="primary"
            style="margin-top: 20px;"
            type="submit"
            >Submit</button>
        </form>
      </mat-card>
    </mat-card>
<!-------------------------------------->