<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
    <li data-target="#demo" data-slide-to="3"></li>
  </ul>
  
  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/images/lukas-blazek-f-TWhXOrLiU-unsplash.jpg" alt="Los Angeles" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/peter-wendt--r5KSMkyoSc-unsplash.jpg" alt="Chicago" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/thanos-pal-Djs02AtkOm4-unsplash.jpg" alt="New York" width="1100" height="500">
    </div>
    <div class="carousel-item">
      <img src="../../assets/images/anna-pelzer-IGfIGP5ONV0-unsplash.jpg" alt="New York" width="1100" height="500">
    </div>
  </div>
  
  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!---------------Cards--------------------->

<div class="container-fluid">
  <div class="row justify-content-center">
    <p class="deal">Todays Deals</p>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-3">
          <div class="card">
              <img class="card-img-top img-fluid" src="../../assets/images/dane-deaner-7woHBtwCgTQ-unsplash.jpg" alt="Card image cap" style="height: 250px;">
              <div class="card-block">
                  <h4 class="card-title">Lemons</h4>
                  <p class="card-text"><small class="text-muted" style="background-color: rgb(192, 250, 181);">43% OFF</small></p>
              </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top img-fluid" src="../../assets/images/dane-deaner-7woHBtwCgTQ-unsplash.jpg" alt="Card image cap" style="height: 250px;">
            <div class="card-block">
                <h4 class="card-title">Lemons</h4>
                <p class="card-text"><small class="text-muted" style="background-color: rgb(192, 250, 181);">43% OFF</small></p>
            </div>
          </div>
          </div>
      <div class="col-sm-3">
          <div class="card">
              <img class="card-img-top img-fluid" src="../../assets/images/sonja-langford-H5k8PoC1BBc-unsplash.jpg" alt="Card image cap" style="height: 250px;">
              <div class="card-block">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text"><small class="text-muted" style="background-color: rgb(192, 250, 181);">25% OFF</small></p>
              </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top img-fluid" src="../../assets/images/martin-adams-5XXfyMMan84-unsplash.jpg" alt="Card image cap" style="height: 250px;">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text"><small class="text-muted" style="background-color: rgb(192, 250, 181);">40% OFF</small></p>
            </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top img-fluid" src="../../assets/images/andrey-konstantinov-_wc3qqyhQio-unsplash.jpg" alt="Card image cap" style="height: 250px;">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text"><small class="text-muted" style="background-color: rgb(192, 250, 181);">40% OFF</small></p>
            </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top img-fluid" src="../../assets/images/janine-robinson-JLKz_4NrS7M-unsplash.jpg" alt="Card image cap" style="height: 250px;">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text"><small class="text-muted" style="background-color: rgb(192, 250, 181);">40% OFF</small></p>
            </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card">
            <img class="card-img-top img-fluid" src="../../assets/images/dane-deaner-vlFeZzhlfzw-unsplash.jpg" alt="Card image cap" style="height: 250px;">
            <div class="card-block">
                <h4 class="card-title">Card title</h4>
                <p class="card-text"><small class="text-muted" style="background-color: rgb(192, 250, 181);">40% OFF</small></p>
            </div>
          </div>
      </div>
      <div class="col-sm-3">
          <div class="card">
              <img class="card-img-top img-fluid" src="../../assets/images/mockup-graphics-q9BAy-GGEMs-unsplash.jpg" alt="Card image cap" style="height: 250px;">
              <div class="card-block">
                  <h4 class="card-title">Card title</h4>
                  <p class="card-text"><small class="text-muted" style="background-color: rgb(192, 250, 181);">40% OFF</small></p>
              </div>
          </div>
      </div>
  </div>
</div>

<!----------------------------------Bank details------------------------------>

<div class="container-fluid">
  <div class="row justify-content-center">
    <p class="bank">Bank Offers & Promo Code</p>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-4">
          <div class="card">
              <img class="card-img-top img-fluid" src="../../assets/images/12338.jpg" alt="Card image cap" style="height: 250px;">
              <div class="card-block">
              </div>
          </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
            <img class="card-img-top img-fluid" src="../../assets/images/3781681.jpg" alt="Card image cap" style="height: 250px;">
            <div class="card-block">
            </div>
        </div>
</div>
<div class="col-sm-4">
  <div class="card">
      <img class="card-img-top img-fluid" src="../../assets/images/3951526.jpg" alt="Card image cap" style="height: 250px;">
      <div class="card-block">
      </div>
  </div>
</div>
</div>


