<section>
  <div class="container-fluid">
  <div class="row">
    <img id="banner-img" src="../../assets/images/depositphotos.jpg">
  </div>
  </div>
  </section>
  <!------------------CARD------------------------------------------------------------->
  
  <div class="container-fluid">
  <div class="row">
  <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
    <div class="card" id="main-box">
        <div class="card-block">
            <div class="meta">
               <i id="boxes" class="fa fa-smile-o" aria-hidden="true">&nbsp; 100% Satisfaction</i>
            </div>
            <div class="card-text">
                <p style="text-align: center;">Feel free to order</p>
            </div>
        </div>
    </div>
  </div>
  
  <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
  <div class="card" id="main-box">
      <div class="card-block">
          <div class="meta">
            <i id="boxes" class="fa fa-thumbs-o-up" aria-hidden="true">&nbsp; Save 20% when you</i>
          </div>
          <div class="card-text">
              <p style="text-align: center;">use credit card</p>
          </div>
      </div>
  </div>
  </div>
  
  <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
  <div class="card" id="main-box">
    <div class="card-block">
        <div class="meta">
          <i id="boxes" class="fa fa-plane" aria-hidden="true">&nbsp;Fast free shipment</i>
        </div>
        <div class="card-text">
            <p style="text-align: center;">On selected merchendise</p>
        </div>
    </div>
  </div>
  </div>
  
  <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
  <div class="card" id="main-box">
  <div class="card-block">
      <div class="meta">
        <i id="boxes" class="fa fa-retweet" aria-hidden="true">&nbsp; 14 day money back</i>
      </div>
      <div class="card-text">
        <p style="text-align: center;">Guranteed</p>
      </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  
  <!-------------------------Footer------------------------------->
  <footer class="section footer-classic context-light bg-image" style="background: #f4f762a4; margin-top: 20px; box-shadow: 5px 5px 5px 5px grey;">
  <div class="container">
  <div class="row row-30">
    <div class="col-md-4 col-xl-5">
      <div class="pr-xl-4"><a class="brand" href="#"><img class="brand-logo-light" src="../../assets/images/unname.png" height="50px" width="90px" style="margin-top: 5px;"></a>
        <p>We are an award-winning creative agency, dedicated to the best result in web design, promotion, business consulting, and marketing.</p>
        <!-- Rights-->
        <p class="rights"><span>©  </span><span class="copyright-year">2018</span><span> </span><span>Waves</span><span>. </span><span>All Rights Reserved.</span></p>
      </div>
    </div>
    <div class="col-md-4">
      <h5>Contacts</h5>
      <dl class="contact-list">
        <dt>Address:</dt>
        <dd>798 South Park Avenue, Jaipur, Raj</dd>
      </dl>
      <dl class="contact-list">
        <dt>email:</dt>
        <dd><a href="mailto:#">dkstudioin@gmail.com</a></dd>
      </dl>
      <dl class="contact-list">
        <dt>phones:</dt>
        <dd><a href="tel:#">https://karosearch.com</a> <span>or</span> <a href="tel:#">https://karosearch.com</a>
        </dd>
      </dl>
    </div>
    <div class="col-md-4 col-xl-3">
      <h5>Links</h5>
      <ul class="nav-list">
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contacts</a></li>
        <li><a href="#">Pricing</a></li>
      </ul>
    </div>
  </div>
  </div>
  <div class="row no-gutters social-container">
  <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-facebook"></span><span>Facebook</span></a></div>
  <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-instagram"></span><span>instagram</span></a></div>
  <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-twitter"></span><span>twitter</span></a></div>
  <div class="col"><a class="social-inner" href="#"><span class="icon mdi mdi-youtube-play"></span><span>google</span></a></div>
  </div>
  </footer>
  